<!DOCTYPE html>

<html>

<head>.
    <title>About</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kuldeep Panchal. It uses data from mapbox.com and darksky.net !</p>
        <img class="potrait" src="/img/AARO4907.JPG">        
    </div>
     
    {{>footer}}
</body>

</html>